<br><br>
  <h1 class = "title">ようこそsakenomiへ</h1>
  <p>自由にお酒の情報を書き込みみんなと共有しましょう！！</p>


  <div class="a">
    <div class="b"><img class="c" src="assets/sakenomi-top.jpg"></div>
    <div class="b"><img class="c" src="assets/sakenomi-top2.jpg"></div>
    <div class="b"><img class="c" src="assets/sakenomi-top3.jpg"></div>
</div>



<br><br>