<br><br>
 <h1 class = "title">ようこそsakenomiへ</h1>
  <div class="post-text">
   <p>自由にお酒の情報を書き込みみんなと共有しましょう！！</p>
  </div>
  <div class="a">
  <div class="b"><%= image_tag('sakenomi-top.jpg', class: "c") %></div>
  <div class="b"><%= image_tag('sakenomi-top2.jpg', class: "c") %></div>
  <div class="b"><%= image_tag('sakenomi-top3.jpg', class: "c") %></div>
  </div>
<br><br>